h1 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
}

p {
  margin-top: 0;
}

.action-button {
  min-width: 105px;
}

.dialog-title-with-close-button {
  position: relative;
  h1 {
    max-width: 80%;
  }
}

.dialog-close-button {
  position: absolute;
  top: -25px;
  right: -5px;
}

.info-box {
  max-width: 400px;
}

@media (max-width: 480px) {
  .dialog-title-with-close-button {
    h1 {
      max-width: 80%;
    }
  }
}
