<p *ngIf="loading">Loading...</p>

<svg
  *ngIf="!loading"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="800"
  height="600"
  transform-origin="0 0"
  [attr.transform]="transform"
  (mousemove)="mouseMove($event)"
  (mouseup)="mouseUp($event)"
  (mousedown)="mouseDown($event)"
  (mouseleave)="mouseLeave($event)"
  (click)="catchAllClick($event)"
>
  <defs>
    <!--  TOOLS -->
    <g fill="#000000" id="bin" style="cursor: pointer">
      <rect
        x="-7"
        y="-7"
        width="15"
        height="15"
        rx="2"
        fill="transparent"
      ></rect>

      <use
        xlink:href="assets/icons/delete.svg#delete"
        transform="scale(0.5) translate(-11,-11)"
      />
    </g>

    <g id="spin" style="cursor: pointer">
      <rect
        x="-7"
        y="-7"
        width="15"
        height="15"
        rx="2"
        fill="transparent"
      ></rect>
      <use
        xlink:href="assets/icons/rotate_right.svg#rotate_right"
        transform="scale(0.5) translate(-11,-11)"
      />
    </g>

    <!--  BUTTONS -->
    <g id="download">
      <use xlink:href="assets/icons/download.svg#download" />
    </g>

    <g id="thinking">
      <use xlink:href="assets/icons/cognition.svg#cognition" />
    </g>

    <g id="wrong" transform="translate(-11,-11) scale(4) ">
      <use xlink:href="assets/icons/close.svg#close" fill="red" />
    </g>

    <g id="solving">
      <use xlink:href="assets/icons/question_mark.svg#question_mark" />
    </g>

    <g id="upload">
      <use xlink:href="assets/icons/upload.svg#upload" />
    </g>

    <g id="refresh" style="cursor: pointer">
      <use xlink:href="assets/icons/restart.svg#restart" />
    </g>

    <!-- PETAL -->
    <circle id="mycircle" [attr.cx]="cx" cy="0" [attr.r]="rad" fill="#390" />

    <g id="petal">
      <g [attr.transform]="'translate(0, ' + tweakY + ')'">
        <use xlink:href="#mycircle" />
      </g>
      <g [attr.transform]="'translate(0,  -' + tweakY + ')'">
        <use xlink:href="#mycircle" />
      </g>
    </g>

    <g [attr.transform]="petalTextTransform" id="textbox">
      <rect
        x="0"
        y="0"
        fill="#4A1"
        [attr.width]="petalTextWidth"
        [attr.height]="petalTextHeight"
        style="cursor: text"
        rx="5"
      />
    </g>

    <!-- CARDS -->
    <g id="card">
      <rect
        [attr.x]="cardPad"
        [attr.y]="cardPad"
        [attr.width]="cardWidth - cardPad"
        [attr.height]="cardWidth - cardPad"
        [attr.rx]="cardRad"
        fill="#fff"
      />

      <rect
        [attr.x]="cardPad + holeBorder"
        [attr.y]="cardPad + holeBorder"
        [attr.width]="cardWidth - cardPad - holeBorder * 2"
        [attr.height]="cardWidth - cardPad - holeBorder * 2"
        [attr.rx]="cardRad"
        fill="#366e39"
        [attr.style]="focusPlayer ? 'cursor:grab' : 'default'"
      />
    </g>

    <g id="dropZone">
      <rect
        [attr.x]="cardPad"
        [attr.y]="cardPad"
        [attr.width]="cardWidth - cardPad"
        [attr.height]="cardWidth - cardPad"
        [attr.rx]="cardRad"
        fill="#366e39"
      />
    </g>
  </defs>

  <g transform="translate(0,50)">
    <g [attr.transform]="'translate(120 120)'">
      <g transform="rotate(45)">
        <ng-container *ngFor="let petalData of petalDatas">
          <g
            [attr.transform]="petalData.rotate"
            (click)="selectPetal(petalData.i, $event)"
          >
            <use xlink:href="#petal" />
            <use
              xlink:href="#textbox"
              [attr.stroke]="focusPetal === petalData.i ? 'black' : null"
              stroke-width="0.3"
            />
            <text
              [attr.x]="petalTextWidth / 2"
              [attr.y]="petalTextHeight / 2"
              [attr.transform]="petalData.transform"
              text-anchor="middle"
              dominant-baseline="middle"
              fill="black"
              [attr.font-size]="fontSize"
              font-family="Arial"
              font-weight="600"
            >
              {{ clues[petalData.i] }}
              <tspan
                class="blink-animation"
                *ngIf="focusPetal === petalData.i"
                fill="#fff"
              >
                &#9611;
              </tspan>
            </text>
          </g>
        </ng-container>

        <circle cx="0" cy="0" [attr.r]="rHub" fill="#390" />
      </g>
    </g>

    <g [attr.transform]="'translate(120 120)'">
      <ng-container *ngFor="let slot of dropZones">
        <g (mouseup)="focusPlayer ? mouseUpDrop($event, slot) : null">
          <g transform="rotate(45)">
            <g [attr.transform]="zoneTransformSpin(slot)">
              <use id="cardDropZone" xlink:href="#dropZone" />
            </g>
          </g>
        </g>
      </ng-container>

      <ng-container *ngFor="let card of cards; let card_i = index">
        <g
          [attr.transform]="cardTransformPosition(card)"
          (mousedown)="focusPlayer ? mouseDownCard($event, card) : null"
          (mouseup)="focusPlayer ? mouseUpCard($event, card) : null"
        >
          <g transform="rotate(45)">
            <g [attr.transform]="cardTransformSpin(card)">
              <ng-container>
                <use xlink:href="#card" />
              </ng-container>

              <ng-container *ngFor="let word of card.words; let word_i = index">
                <g
                  [attr.transform]="
                    'rotate(' +
                    (word_i + card.guessOrientation) * 90 +
                    ' ' +
                    (cardPad + cardWidth) / 2 +
                    ' ' +
                    (cardPad + cardWidth) / 2 +
                    ') translate(' +
                    (cardPad + cardWidth / 2) +
                    ',' +
                    wordNudgeIn +
                    ')'
                  "
                >
                  <text
                    x="0"
                    y="0"
                    [attr.transform]="wordTransformFlip(card, word_i)"
                    text-anchor="middle"
                    dominant-baseline="middle"
                    fill="black"
                    [attr.font-size]="fontSize"
                    font-family="Arial"
                    font-weight="600"
                  >
                    {{ card.words[word_i] }}
                  </text>
                </g>
              </ng-container>

              <use xlink:href="#wrong" *ngIf="card.wrong" />
            </g>
          </g>
        </g>
        <g
          transform="translate(-10,0)"
          *ngIf="
            focusPlayer &&
            card.guessSlot !== undefined &&
            card.guessSlot >= 0 &&
            !card.draggee
          "
        >
          <use
            xlink:href="#bin"
            [attr.x]="tools[card.guessSlot].binX"
            [attr.y]="tools[card.guessSlot].binY"
            (click)="toolClick(card, 'bin')"
          />

          <use
            xlink:href="#spin"
            [attr.x]="tools[card.guessSlot].spinX"
            [attr.y]="tools[card.guessSlot].spinY"
            (click)="toolClick(card, 'spin')"
          />
        </g>
      </ng-container>
    </g>
  </g>

  <g transform="translate(15,15)">
    <ng-container *ngFor="let button of buttons; let i = index">
      <g
        [attr.transform]="'translate(' + 40 * (i + 0.2) + ',0)'"
        style="cursor: pointer"
        (click)="buttonClick($event, button)"
      >
        <rect
          width="30"
          height="30"
          rx="11"
          fill="#fff"
          stroke="#000"
          stroke-width="0.5"
        />
        <use [attr.xlink:href]="'#' + button.id" x="3" y="3" />
        <text
          x="15"
          y="-5"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="black"
          [attr.font-size]="fontSize"
          font-family="Arial"
          font-weight="600"
        >
          {{ button.text }}
        </text>
      </g>
    </ng-container>
  </g>
</svg>

<div class="options">
  <img src="assets/icons/settings.svg" />
</div>
