<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  [attr.width]="layoutService.leafScreenWidth"
  [attr.height]="layoutService.leafScreenHeight"
  (mousemove)="!isTouch ? mouseMove($event) : null"
  (mouseup)="!isTouch ? mouseUp($event) : null"
  (touchmove)="isTouch ? touchMove($event) : null"
  (touchend)="isTouch ? touchEnd($event) : null"
  (mousedown)="!isTouch ? mouseDown($event) : null"
  (click)="catchAllClick($event)"
>
  <defs>
    <!--  TOOLS -->
    <g fill="#000000" id="bin" style="cursor: pointer">
      <rect
        x="-7"
        y="-7"
        width="15"
        height="15"
        rx="2"
        fill="transparent"
      ></rect>

      <use
        xlink:href="assets/icons/delete.svg#delete"
        transform="scale(0.5) translate(-11,-11)"
      />
    </g>

    <g id="spin" style="cursor: pointer">
      <rect
        x="-7"
        y="-7"
        width="15"
        height="15"
        rx="2"
        fill="transparent"
      ></rect>
      <use
        xlink:href="assets/icons/rotate_right.svg#rotate_right"
        transform="scale(0.5) translate(-11,-11)"
      />
    </g>

    <!--  BUTTONS -->
    <!-- <g id="download">
      <use xlink:href="assets/icons/download.svg#download" />
    </g> -->

    <!-- <g id="thinking">
      <use xlink:href="assets/icons/cognition.svg#cognition" />
    </g> -->

    <g id="wrong" transform="translate(-11,-11) scale(4) ">
      <use xlink:href="assets/icons/close.svg#close" fill="red" />
    </g>
    <!--
    <g id="solving">
      <use xlink:href="assets/icons/question_mark.svg#question_mark" />
    </g> -->
    <!--
    <g id="upload">
      <use xlink:href="assets/icons/upload.svg#upload" />
    </g> -->

    <!-- <g id="refresh" style="cursor: pointer">
      <use xlink:href="assets/icons/restart.svg#restart" />
    </g> -->

    <!-- PETAL -->
    <circle
      id="mycircle"
      [attr.cx]="leafData.cx"
      cy="0"
      [attr.r]="leafData.rad"
      fill="#390"
    />

    <g id="petal">
      <g [attr.transform]="'translate(0, ' + leafData.tweakY + ')'">
        <use xlink:href="#mycircle" />
      </g>
      <g [attr.transform]="'translate(0,  -' + leafData.tweakY + ')'">
        <use xlink:href="#mycircle" />
      </g>
    </g>

    <g [attr.transform]="leafData.petalTextTransform" id="textbox">
      <rect
        x="0"
        y="0"
        fill="#4A1"
        [attr.width]="leafData.petalTextWidth"
        [attr.height]="leafData.petalTextHeight"
        style="cursor: text"
        rx="5"
      />
    </g>

    <!-- CARDS -->
    <g id="card">
      <rect
        [attr.x]="leafData.cardPad"
        [attr.y]="leafData.cardPad"
        [attr.width]="leafData.cardWidth - leafData.cardPad"
        [attr.height]="leafData.cardWidth - leafData.cardPad"
        [attr.rx]="leafData.cardRad"
        fill="#fff"
      />

      <rect
        [attr.x]="leafData.cardPad + leafData.holeBorder"
        [attr.y]="leafData.cardPad + leafData.holeBorder"
        [attr.width]="
          leafData.cardWidth - leafData.cardPad - leafData.holeBorder * 2
        "
        [attr.height]="
          leafData.cardWidth - leafData.cardPad - leafData.holeBorder * 2
        "
        [attr.rx]="leafData.cardRad"
        fill="#366e39"
        [attr.style]="focusPlayer ? 'cursor:grab' : 'default'"
      />
    </g>

    <g id="dropZone">
      <rect
        [attr.x]="leafData.cardPad"
        [attr.y]="leafData.cardPad"
        [attr.width]="leafData.cardWidth - leafData.cardPad"
        [attr.height]="leafData.cardWidth - leafData.cardPad"
        [attr.rx]="leafData.cardRad"
        fill="#366e39"
      />
    </g>
  </defs>

  <g transform-origin="0 0" [attr.transform]="containerScale">
    <!-- <g transform-origin="0 0"> -->
    <!-- <rect
      [attr.width]="leafData.boardWidth / 2"
      [attr.height]="leafData.boardHeight / 2"
      fill="pink"
    /> -->
    <!--    PETALS -->
    <g [attr.transform]="petalMainTranslate">
      <g [attr.transform]="'translate(120 120)'">
        <g transform="rotate(45)">
          <ng-container *ngFor="let petalData of leafData.petalDatas">
            <g
              [attr.transform]="petalData.rotate"
              (click)="setting ? selectPetal(petalData.i, $event) : null"
            >
              <use xlink:href="#petal" />

              <ng-container *ngIf="leaf">
                <use
                  xlink:href="#textbox"
                  [attr.stroke]="
                    setting && focusPetal === petalData.i ? 'black' : null
                  "
                  stroke-width="0.3"
                  [attr.data-petal]="petalData.i"
                />
                <text
                  [attr.x]="leafData.petalTextWidth / 2"
                  [attr.y]="leafData.petalTextHeight / 2"
                  [attr.transform]="petalData.transform"
                  text-anchor="middle"
                  dominant-baseline="middle"
                  fill="black"
                  [attr.font-size]="leafData.clueFontSize"
                  font-family="Arial"
                  font-weight="600"
                >
                  {{
                    leaf !== undefined && leaf.clues !== undefined
                      ? leaf.clues[petalData.i]
                      : ''
                  }}
                  <tspan
                    class="blink-animation"
                    *ngIf="setting && focusPetal === petalData.i"
                    fill="#fff"
                  >
                    &#9611;
                  </tspan>
                </text>
              </ng-container>
            </g>
          </ng-container>

          <circle cx="0" cy="0" [attr.r]="leafData.rHub" fill="#390" />
        </g>
      </g>

      <g [attr.transform]="'translate(120 120)'">
        <ng-container *ngFor="let slot of leafData.dropZones">
          <g
            (mouseup)="
              focusPlayer && !isTouch ? mouseUpDrop($event, slot) : null
            "
          >
            <g transform="rotate(45)">
              <g [attr.transform]="zoneTransformSpin(slot)">
                <use
                  id="cardDropZone"
                  xlink:href="#dropZone"
                  [attr.data-slot]="slot"
                />
              </g>
            </g>
          </g>
        </ng-container>

        <ng-container *ngIf="leaf">
          <ng-container *ngFor="let card of sortedCards; let card_i = index">
            <g
              *ngIf="!setting || card_i < 4"
              [attr.transform]="cardTransformPosition(card)"
              (mousedown)="
                !setting && !isTouch ? mouseDownCard($event, card) : null
              "
              (mouseup)="!setting && !isTouch ? mouseUpCard($event) : null"
              (touchstart)="
                isTouch && !setting ? touchStartCard($event, card) : null
              "
            >
              <g transform="rotate(45)">
                <g [attr.transform]="cardTransformSpin(card)">
                  <ng-container>
                    <use xlink:href="#card" />
                  </ng-container>

                  <ng-container
                    *ngFor="let word of card.words; let word_i = index"
                  >
                    <g
                      [attr.transform]="
                        'rotate(' +
                        (word_i + card.guessOrientation) * 90 +
                        ' ' +
                        (leafData.cardPad + leafData.cardWidth) / 2 +
                        ' ' +
                        (leafData.cardPad + leafData.cardWidth) / 2 +
                        ') translate(' +
                        (leafData.cardPad + leafData.cardWidth / 2) +
                        ',' +
                        leafData.wordNudgeIn +
                        ')'
                      "
                    >
                      <text
                        x="0"
                        y="0"
                        [attr.transform]="wordTransformFlip(card, word_i)"
                        text-anchor="middle"
                        dominant-baseline="middle"
                        fill="black"
                        [attr.font-size]="leafData.cardFontSize"
                        font-family="Arial"
                        font-weight="600"
                      >
                        {{ card.words[word_i] }}
                      </text>
                    </g>
                  </ng-container>

                  <use xlink:href="#wrong" *ngIf="card.wrong" />
                </g>
              </g>
            </g>
            <g
              transform="translate(-10,0)"
              *ngIf="
                !setting &&
                focusPlayer &&
                card.guessSlot !== undefined &&
                card.guessSlot >= 0 &&
                !card.draggee
              "
            >
              <use
                xlink:href="#bin"
                [attr.x]="leafData.tools[card.guessSlot].binX"
                [attr.y]="leafData.tools[card.guessSlot].binY"
                (click)="toolClick(card, 'bin', $event)"
                [attr.data-bin]="card.guessSlot"
              />

              <use
                xlink:href="#spin"
                [attr.x]="leafData.tools[card.guessSlot].spinX"
                [attr.y]="leafData.tools[card.guessSlot].spinY"
                (click)="toolClick(card, 'spin', $event)"
                [attr.data-spin]="card.guessSlot"
              />
            </g>
          </ng-container>
        </ng-container>
      </g>
    </g>
  </g>
</svg>
