.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.door {
  cursor: pointer;
}

.titlebox {
  height: 80px;
  text-align: center;
  box-shadow: inset 2px 4px 15px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
}

.logon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 20px);
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.light {
  filter: opacity(0.1);
}

.light:hover {
  cursor: no-drop;
}

.resetbut {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.buttons {
  width: 100%;
}

.player-container {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.player {
  background-color: rgb(164, 249, 156);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 4px;
}
