<div id="world" class="world">
  <div #app class="mycontainer">
    <router-outlet></router-outlet>
  </div>
  <div #divider class="divider"></div>
  <div class="video" #video></div>
  <div
    mat-flat-button
    class="fullscreen"
    (click)="layoutService.openFullscreen()"
  >
    <img
      *ngIf="!layoutService.isFullScreen"
      src="/assets/icons/fullscreen.svg"
    />
    <img
      *ngIf="layoutService.isFullScreen"
      src="/assets/icons/fullscreen_exit.svg"
    />
  </div>
</div>
